@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #4ed877c0 1.84%, #8c929e 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #623d8a70 -13.86%, #b380644d 99.55%);
  
  --color-bg: linear-gradient(90deg, rgba(77, 77, 233, 1) 0%, rgb(41, 138, 130) 50%, rgba(32, 83, 61, 1) 100%);
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #b7cfe9fb;
  --color-subtext: #31854ac0;
}